@using News.ViewModels
@using News.Data.Models
@model CertainNewsViewModel



<div class="mt-5">
    <h1 class="text-center">@Model.oneNews.Title</h1>
    @foreach (var s in Model.allSubtitles)
    {
        <h3 class="mt-4">@s.subtitle</h3>
        <p style="white-space:pre-wrap">@s.text</p>
        <p class="fig"><img class="img-fluid" width="700" height="700" src="@s.picture" alt="@s.subtitle" /></p>
    }
</div>